.foot {
  background: #25355a;
  padding: 20px;
  width: 100%;
  position: relative;
}

.foot p {
  color: white;
}

.credits {
  font-weight: bold;
}

.foot a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 5px;
}

.foot a:hover {
  color: #25355a;
  background-color: white;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 12px;
}
