{% extends "template.html" %} {% block content %}
<section class="content">
  <div class="grid-container">
    <div class="grid-item">
      <h1>Course Team</h1>
    </div>

    <div class="grid-item-2">
      <h2>Instructor</h2>

      <ul>
        <li>
          <p>Dr. Purva Gawde</p>
        </li>

        <li>
          <p><strong>Office Hours:</strong> Tuesday 12pm to 1pm</p>
        </li>

        <li>
          <p>
            <strong>Email:</strong>
            <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a>
          </p>
        </li>

        <li>
          <p><strong>Office:</strong> IC484</p>
        </li>

      </ul>
    </div>

    <div class="grid-item-2">
      <h2>TAs</h2>

      <p>All Office Hours are held at IC402</p>

      <table class="center">
        <tr>
          <th>S. No.</th>
          <th>Name</th>
          <th>Office Hours</th>
          <th>Tutorial</th>
        </tr>

        <tr class="cell">
          <td>1</td>
          <td>Pourya Moghadam</td>
          <td>
            <ul>
              <li>Monday 11am to 12pm</li>
              <li>Monday, 1pm to 2pm</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>TUT0001</li>
              <li>Wednesday, 12pm to 1pm</li>
            </ul>
          </td>
        </tr>
        <tr class="cell">
          <td>2</td>
          <td>Nisha Rajendran</td>
          <td>Wednesday 10pm to 11pm</td>
          <td>
            <ul>
              <li>TUT0002</li>
              <li>Wednesday, 11am to 12pm</li>
            </ul>
          </td>
        </tr>
        <tr class="cell">
          <td>3</td>
          <td>Joshua Concon</td>
          <td>Wednesday 3pm to 4pm</td>
          <td>
            <ul>
              <li>TUT0003</li>
              <li>Wednesday, 2pm to 3pm</li>
            </ul>
          </td>
        </tr>
        <tr class="cell">
          <td>4</td>
          <td>Navinn Ravindaran</td>
          <td>Friday 11am to 12pm</td>
          <td>
            <ul>
              <li>TUT0005</li>
              <li>Friday, 10am to 11am</li>
            </ul>
          </td>
        </tr>
        <tr class="cell">
          <td>5</td>
          <td>Danny Chen</td>
          <td>Friday 12pm to 1pm</td>
          <td>
            <ul>
              <li>TUT0006</li>
              <li>Friday, 1pm to 2pm</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{% endblock content %}
