{% extends "template.html" %} {% block content %}
<section class="content">
  <div class="grid-container">
    <div class="grid-item">
      <h1>News</h1>
    </div>
    <div class="grid-item-2">
      <div class="news-item">
        <h2>Jan 16</h2>
        <p class="author">CSCB20 Team</p>
        <p class="news">Welcome to CSCB20. Tutorials are postponed to week 4</p>
      </div>
    </div>
    <div class="grid-item-2">
      <div class="news-item">
        <h2>Jan 9</h2>
        <p class="author">CSCB20 Team</p>
        <p class="news">Welcome to CSCB20. Tutorials are postponed to week 3</p>
      </div>
    </div>
    <div class="grid-item-2">
      <div class="news-item">
        <h2>Jan 2</h2>
        <p class="author">CSCB20 Team</p>
        <p class="news">Welcome to CSCB20. Tutorials begin in week 2</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
